<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js
'></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% extends "site_base.html" %}



{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}


<script>
</script>
{% block body_base %}
    <section>
        <div class="container">
            {% include "_messages.html" %}
<!--             <h1>{% blocktrans %}Members Area<br>{% endblocktrans %}</h1> -->
            <p>
                {% blocktrans %}
                
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <!-- removed div class attribute url-endpoint='{% url "api-data" %}' as didnt know what it did and everything fucntions without-->
        <div class="container">
        <a href="/chart"><-- Back To Chart Selection</a>
            <h2 class="text-center">{% blocktrans %}Number of Projects Commencing by STATE in 2017{% endblocktrans %}</h2>
            <p class="text-center">Click the State labels on the graph to add or remove States, Click the Year buttons below the graph to change the Year being displatey.</p>
                <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">
        <!-- <small>Secondary Text</small> -->
      </h1>

      <div class="row">
        <div class="col-lg-12 portfolio-item">
          <div class="card h-100">
            <canvas id="ChartView5" width="400" height="300"></canvas>
            <button id="0" type="button" >2017</button>
      <button id="1" type="button" >2018</button>
      <hr />
            <!-- start button -->
<!--             <select id="DataType">
      <option value="dataDaily">Daily</option>
      <option value="dataWeekly">Weekly</option>
      <option value="dataMonthly">Monthly</option>
      </select>
      <div id="chart"></div> -->
      <!-- end button -->
            <div class="card-body">
              <h4 class="card-title">
            <h2 class="text-center">{% blocktrans %}Number of Projects Commencing by Sector / Year {% endblocktrans %}</h2>
              </h4>
              
              <p class="text-center">Click the Setor labels on the graph to add or remove Sectors, Click the State buttons below the graph to change the STATE being displatey.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 portfolio-item">
          <div class="card h-100">
            <canvas id="ChartView6" width="400" height="400"></canvas>
            <button id="3" type="button" >NSW</button>
            <button id="4" type="button" >QLD</button>
            <hr />

            
      <!-- /.row -->

            <!--chart 2-->



            <script>
            console.log('hi')
            console.log('hi')
            console.log('hi')
            console.log('hi')
            
            // ajax to get json data from api
            {% block jquery %}
            var endpoint = '/api/chart/data/' // url api 
            //initilise empty array (list in python) this gets put into var myChart data: 
            var defaultData = []
            var labels = []
            //main ajax call
            $.ajax({
                method: "GET",
                url: endpoint,
                //data is the response data here
                success: function(data){
                    labels = data.labels
                    defaultData = data.default
                    defaultData2 = data.default2
                    //getting json data
                    labelsqldcom17 = data.labelsqldcom17
                    QLDCommence17 = data.QLDCommence17
                    QLDCommence18 = data.QLDCommence18
                    NSWCommence17 = data.NSWCommence17
                    NSWCommence18 = data.NSWCommence18
     
          // chart with buttons!!
          var chart_labels = labelsqldcom17;
          var temp_dataset = QLDCommence17;
          var rain_dataset = NSWCommence17;
          
          var config = {
              type: 'bar',
              data: {
                  labels: chart_labels,
                  datasets: [{
                      type: 'line',
                      label: "NSW",
                      yAxisID: "y-axis-0",
                      fill: false,
                      data: temp_dataset,
                      borderColor: 'rgb(75, 192, 192)'
                  }, {
                      type: 'line',
                      label: "QLD",
                      fill: false,
                      data: rain_dataset,
                      borderColor: 'red',
                }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          position: "left",
                          "id": "y-axis-0",
                      }]
                  }
              }
          };
          var forecast_chart = new Chart(ctx5, config);
          $("#0").click(function() {
              var data = forecast_chart.config.data;
              data.datasets[0].data = temp_dataset;
              data.datasets[1].data = rain_dataset;
              data.labels = labelsqldcom17;
              forecast_chart.update();
          });
          $("#1").click(function() {
              var chart_labels = labelsqldcom17;
              var temp_dataset = QLDCommence18;
              var rain_dataset = NSWCommence18;
              var data = forecast_chart.config.data;
              data.datasets[0].data = temp_dataset;
              data.datasets[1].data = rain_dataset;
              data.labels = labelsqldcom17;
              forecast_chart.update();
          });
          // chart with buttons!! again
          var chart_labels2 = labels;
          var temp_dataset2 = defaultData;
          var rain_dataset2 = defaultData2;
          
          var config = {
              type: 'polarArea',
              data: {
                  labels: chart_labels2,
                  datasets: [{
                      type: 'polarArea',
                      label: "NSW",
                      yAxisID: "y-axis-0",
                      fill: false,
                      data: temp_dataset2,
                      borderColor: 'rgb(75, 192, 192)',
                      backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)', 
                                'rgba(255, 159, 64, 0.2)'
                              ],
                              borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                              ],
                  }]
              },
              options: {
                  scales: {
                      yAxes: [{
                          position: "left",
                          "id": "y-axis-0",
                          ticks: {
                                    beginAtZero:true
                                }
                      }]
                  }
              }
          };
          var forecast_chart2 = new Chart(ctx6, config);
          $("#3").click(function() {
              var data = forecast_chart2.config.data;
              data.datasets[0].data = temp_dataset2;
              
              data.labels = chart_labels2;
              forecast_chart2.update();
          });
          $("#4").click(function() {
              var chart_labels2 = labels;
              var temp_dataset2 = defaultData2;
              var rain_dataset2 = defaultData2;
              var data = forecast_chart2.config.data;
              data.datasets[0].data = rain_dataset2;
             
              data.labels = chart_labels2;
              forecast_chart2.update();
          });
                        console.log("working!!!!!!!!!!!!")
                        console.log(data)
                    },
                    error: function(error_data){
                        console.log("error")
                        console.log(error_data)
                    }
                })
            //function for chart run in success call
            function setChart(){
            }
            // Chart.js graph
            var ctx5 = document.getElementById("ChartView5").getContext('2d');
            var ctx6 = document.getElementById("ChartView6").getContext('2d');
            {% endblock %}
            </script>
<!--             <h2 class="text-center">{% blocktrans %}What is Pinax?{% endblocktrans %}</h2>
            
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section> -->
    <html style="height: 100%;
        margin: 0;
        padding: 0">
  <body style="height: 100%;
        margin: 0;
        padding: 0;">
    <div id="floating-panel" style="position: absolute;
        top: 10px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
        background-color: #fff;
        border: 1px solid #999;
        left: 25%;
        padding: 5px;
        position: absolute;
        top: 10px;
        z-index: 5;">

    </div>
    <h2 class="text-center">{% blocktrans %}Retail Projects Commencing in 2014 QLD{% endblocktrans %}</h2>
    <p class="text-center">Demonstration of Heatmap which could also be done by state/sector/stages/values & more.</p>
    <div id="map" style="height: 100%"></div>
    <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
      <button onclick="getPoints2()">Commercial</button>
      <button onclick="getPoints2()">Industrial</button>
      <button onclick="getPoints2()">Residential</button>
    <script>
      // This example requires the Visualization library. Include the libraries=visualization
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=visualization">
      var map, heatmap;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 6,
          center: {lat: -20.9962172, lng: 146.13183},
          mapTypeId: 'hybrid',
          labels:true,

          mapTypeControlOptions: {

          }
        });
        heatmap = new google.maps.visualization.HeatmapLayer({
          data: getPoints(),
          map: map,
          labels: true,
        });
      }
      function toggleHeatmap() {
        heatmap.setMap(heatmap.getMap() ? null : map);
      }
      function changeGradient() {
        var gradient = [
          'rgba(0, 255, 255, 0)',
          'rgba(0, 255, 255, 1)',
          'rgba(0, 191, 255, 1)',
          'rgba(0, 127, 255, 1)',
          'rgba(0, 63, 255, 1)',
          'rgba(0, 0, 255, 1)',
          'rgba(0, 0, 223, 1)',
          'rgba(0, 0, 191, 1)',
          'rgba(0, 0, 159, 1)',
          'rgba(0, 0, 127, 1)',
          'rgba(63, 0, 91, 1)',
          'rgba(127, 0, 63, 1)',
          'rgba(191, 0, 31, 1)',
          'rgba(255, 0, 0, 1)'
        ]
        heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
      }
      function changeRadius() {
        heatmap.set('radius', heatmap.get('radius') ? null : 30);
      }
      function changeOpacity() {
        heatmap.set('opacity', heatmap.get('opacity') ? null : 0.2);
      }
      // Heatmap data: 500 Points
      function getPoints() {
        return [
          new google.maps.LatLng(-27.9385242,153.3854335),
          new google.maps.LatLng(-21.1188517,149.1588577),
          new google.maps.LatLng(-26.77254,153.1081364),
          new google.maps.LatLng(-27.4457791,153.0361129),
          new google.maps.LatLng(-27.5721307,152.6433233),
          new google.maps.LatLng(-24.9199743,152.4888089),
          new google.maps.LatLng(-24.8893681,152.3210647),
          new google.maps.LatLng(-23.5091994,147.7289109),
          new google.maps.LatLng(-27.4912504,153.0990579),
          new google.maps.LatLng(-20.7269497,139.4914789),
          new google.maps.LatLng(-25.2853368,152.8325087),
          new google.maps.LatLng(-27.6308669,153.133671),
          new google.maps.LatLng(-27.4562348,153.0336145),
          new google.maps.LatLng(-27.6781,153.081471),
          new google.maps.LatLng(-27.5607778,151.935963),
          new google.maps.LatLng(-24.8927692,152.3518668),
          new google.maps.LatLng(-28.0545198,153.4106165),
          new google.maps.LatLng(-27.468751,153.0273437),
          new google.maps.LatLng(-27.6131604,153.1288496),
          new google.maps.LatLng(-27.4716468,153.0225683),
          new google.maps.LatLng(-27.1943541,153.0301179),
          new google.maps.LatLng(-26.6994121,153.123781),
          new google.maps.LatLng(-27.4754659,153.0101083),
          new google.maps.LatLng(-27.194472,153.0292975),
          new google.maps.LatLng(-27.4662161,153.0291351),
          new google.maps.LatLng(-20.7168379,139.5091599),
          new google.maps.LatLng(-28.1961663,152.0459362),
          new google.maps.LatLng(-26.6962172,153.13183),
          new google.maps.LatLng(-19.3362172,146.83183),
          new google.maps.LatLng(-20.8262172,139.53183),
          new google.maps.LatLng(-16.9992172,145.77783),
        ];
      }  
      function getPoints2() {
        return [
          new google.maps.LatLng(-25.9385242,153.3854335),
          new google.maps.LatLng(-23.1188517,149.1588577),
          new google.maps.LatLng(-22.77254,153.1081364),
          new google.maps.LatLng(-25.4457791,153.0361129),
          new google.maps.LatLng(-25.5721307,152.6433233),
          new google.maps.LatLng(-23.9199743,152.4888089),
          new google.maps.LatLng(-23.8893681,152.3210647),
          new google.maps.LatLng(-24.5091994,147.7289109),
          new google.maps.LatLng(-26.4912504,153.0990579),
          new google.maps.LatLng(-20.7269497,139.4914789),
          new google.maps.LatLng(-25.2853368,152.8325087),
          new google.maps.LatLng(-27.6308669,153.133671),
          new google.maps.LatLng(-27.4562348,153.0336145),
          new google.maps.LatLng(-27.6781,153.081471),
          new google.maps.LatLng(-27.5607778,151.935963),
          new google.maps.LatLng(-24.8927692,152.3518668),
          new google.maps.LatLng(-28.0545198,153.4106165),
          new google.maps.LatLng(-27.468751,153.0273437),
          new google.maps.LatLng(-27.6131604,153.1288496),
          new google.maps.LatLng(-27.4716468,153.0225683),
          new google.maps.LatLng(-27.1943541,153.0301179),
          new google.maps.LatLng(-26.6994121,153.123781),
          new google.maps.LatLng(-27.4754659,153.0101083),
          new google.maps.LatLng(-27.194472,153.0292975),
          new google.maps.LatLng(-27.4662161,153.0291351),
          new google.maps.LatLng(-20.7168379,139.5091599),
          new google.maps.LatLng(-28.1961663,152.0459362),
          new google.maps.LatLng(-26.6962172,153.13183),
          new google.maps.LatLng(-19.3362172,146.83183),
          new google.maps.LatLng(-20.8262172,139.53183),
          new google.maps.LatLng(-16.9992172,145.77783),    


        ];
      }

    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA1pCWm5boHwp0ABbfiIEFdP0SnukI5JiM&libraries=visualization&callback=initMap">
    </script>
<br/>
<br/>
<a href="/chart"><--Back To Chart Selection</a>
  </body>
</html>
{% endblock %}
