{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}

{% block body_base %}
    <section class="jumbotron" height='300' width='241'style="background-image:url(https://png.pngtree.com/thumb_back/fh260/back_pic/00/01/40/5756016e606b142.jpg); background-repeat: no-repeat; background-size: 100% 100%;">
        <div class="container">
            {% include "_messages.html" %}
            <h1 style="color:white">{% blocktrans %}Welcome to<br>Construction Insights Demo{% endblocktrans %}</h1>
            <p style="color:white">
                {% blocktrans %}
                An Implmentation of our Cordell Projects API that provides visual insights into construction activity.
                {% endblocktrans %}
            </p>

            {% if user.is_authenticated %}
    

            <h1>You are logged in</h1>
            {% endif %}
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p style="color:white">{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <div class="container">
            <h2 class="text-center">{% blocktrans %}What is Construction Insights?{% endblocktrans %}</h2>
            <p class="lead">
                {% blocktrans %}
                <b>Construction Insights</b> leverages Cordell Project Information to provide a graphical overview of construction trends & activity via a panel of interactive graphs. It also provides information on the supply of new Residential & Commerical developments.
                {% endblocktrans %}
            </p>
            <div class="feature-columns">
                <div>
                    <i class="fa fa-bar-chart fa-5x"></i><br>
                    {% blocktrans %}
                    <b>Gather</b> information for potential development sites.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-pie-chart fa-5x"></i><br>
                    {% blocktrans %}
                    <b>Customisable charts</b> make it easy to cutomise your charts to your needs.
                    {% endblocktrans %}
                </div>
                <div>
                    <i class="fa fa-map fa-5x"></i><br>
                    {% blocktrans %}
                    <b>Maps</b> to view construction acitivity via heatmaps.
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
<!--     <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section> -->
{% endblock %}
