<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js
'></script>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

{% extends "site_base.html" %}



{% load i18n %}

{% block head_title %}pinax-project-account{% endblock %}

{% block body_class %}home{% endblock %}


<script>


</script>
{% block body_base %}
    <section>
        <div class="container">
            {% include "_messages.html" %}
<!--             <h1>{% blocktrans %}Members Area<br>{% endblocktrans %}</h1> -->
            <p>
                {% blocktrans %}
                
                {% endblocktrans %}
            </p>
            {% if not user.is_authenticated %}
            {% url "account_login" as login_url %}
            {% url "account_signup" as signup_url %}
            <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn btn-default">Log In</a> or <a href="{{ signup_url }}" class="btn btn-primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
            {% endif %}
        </div>
    </section>
    <section>
        <!-- removed div class attribute url-endpoint='{% url "api-data" %}' as didnt know what it did and everything fucntions without-->
        <div class="container">
        <a href="/chart"><--Back To Chart Selection</a>
            <h2 class="text-center">{% blocktrans %}New Projects by Project Type QLD 2017 (Hospitality){% endblocktrans %}</h2>
            <p class="text-center">Click the Setor labels on the graph to add or remove Sectors, Click the Year buttons below the graph to change the Year being displatey.</p>
                <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4">
        <!-- <small>Secondary Text</small> -->
      </h1>

      <div class="row">
        <div class="col-lg-12 portfolio-item">
          <div class="card h-100">
            <canvas id="ChartView5" width="400" height="300"></canvas>
            <button id="0" type="button" >2017</button>
            <button id="1" type="button" >2018</button>&nbsp&nbsp&nbsp&nbsp<button id="5" type="button" >Education</button>
            <hr />
            <!-- start button -->
<!--             <select id="DataType">
            <option value="dataDaily">Daily</option>
            <option value="dataWeekly">Weekly</option>
            <option value="dataMonthly">Monthly</option>
            </select>
            <div id="chart"></div> -->
            <!-- end button -->
            <div class="card-body">
              <h4 class="card-title">
            <h2 class="text-center">{% blocktrans %}New Project Value by Sector & State 2017{% endblocktrans %}</h2>
              </h4>
              
              <p class="text-center">Click the Year buttons below the graph to change the Year being displatey.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-12 portfolio-item">
          <div class="card h-100">
            <canvas id="ChartView6" width="400" height="400"></canvas>
            <button id="3" type="button" >NSW</button>
            <button id="4" type="button" >QLD</button>

            
      <!-- /.row -->

            <!--chart 2-->

            <br/>
            <br/>
            <a href="/chart"><--Back To Chart Selection</a>

            <script>
            console.log('hi')
            console.log('hi')
            console.log('hi')
            console.log('hi')
            
            // ajax to get json data from api
            {% block jquery %}
            var endpoint = '/api/chart/data/' // url api 
            //initilise empty array (list in python) this gets put into var myChart data: 
            var defaultData = []
            var labels = []
            //main ajax call
            $.ajax({
                method: "GET",
                url: endpoint,
                //data is the response data here
                success: function(data){
                    labels = data.labels
                    defaultData = data.default
                    defaultData2 = data.default2
                    //getting json data
                    labelsqldcom17 = data.labelsqldcom17
                    QLDCommence17 = data.QLDCommence17
                    QLDCommence18 = data.QLDCommence18
                    NSWCommence17 = data.NSWCommence17
                    NSWCommence18 = data.NSWCommence18
                    Hospitalityavg = data.Hospitalityavgval
                    Hospitalitylabels = data.Hospitalitylabels
                    Hospitalityavgval17 = data.Hospitalityavgval17
                    Educationlabels = data.Educationlabels
                    Educationavg17 = data.Educationavg17
                    //average values
                    QLDmedCat_items = data.QLDmedCat_items
                    NSWmedCat_items2 = data.NSWmedCat_items2

                    // chart with buttons!!
                    var chart_labels = labels;
                    var temp_dataset = defaultData;
                    var rain_dataset = defaultData2;
                    
                    var config = {
                        type: 'pie',
                        data: {
                            labels: chart_labels,
                            datasets: [{

                                label: "Average Projects Value",

                                fill: false,
                                data: temp_dataset,
                                //borderColor: 'rgb(75, 192, 192)',
                                backgroundColor: [
                                'rgba(255, 99, 132, 0.2)',
                                'rgba(54, 162, 235, 0.2)',
                                'rgba(255, 206, 86, 0.2)',
                                'rgba(75, 192, 192, 0.2)',
                                'rgba(153, 102, 255, 0.2)', 
                                'rgba(255, 159, 64, 0.2)'
                            ],
                            borderColor: [
                                'rgba(255,99,132,1)',
                                'rgba(54, 162, 235, 1)',
                                'rgba(255, 206, 86, 1)',
                                'rgba(75, 192, 192, 1)',
                                'rgba(153, 102, 255, 1)',
                                'rgba(255, 159, 64, 1)'
                                ],
                            }]
                        },
                        options: {}
                    };
                    var forecast_chart = new Chart(ctx5, config);
                    $("#0").click(function() {
                        var data = forecast_chart.config.data;
                        data.datasets[0].data = temp_dataset;

                        data.labels = abels;
                        forecast_chart.update();
                    });
                    $("#1").click(function() {
                        var chart_labels = labels;
                        var temp_dataset = defaultData;
                        var rain_dataset = defaultData2;
                        var data = forecast_chart.config.data;
                        data.datasets[0].data = rain_dataset;
                        data.labels = labels
                        forecast_chart.update();
                    });
                    $("#5").click(function() {
                        var chart_labels = Educationlabels;
                        var temp_dataset = Hospitalityavg;
                        var rain_dataset = Educationavg17;
                        var data = forecast_chart.config.data;
                        data.datasets[0].data = rain_dataset;
                        data.labels = Educationlabels
                        forecast_chart.update();
                    });


                    // chart with buttons!! again
                    var chart_labels2 = labels;
                    var temp_dataset2 = defaultData
                    var rain_dataset2 = defaultData2;
                    
                    var config = {
                        type: 'radar',
                        data: {
                            labels: labels,
                            datasets: [{
                                type: 'radar',
                                label: "Average Values",
                                
                                fill: true,
                                data: temp_dataset2,

                                borderColor: 'rgb(54, 162, 235, 0.2)',
                                backgroundColor: [
                                'rgba(54, 162, 235, 0.2)',

                            ],
                            borderColor: [

                                ],
                            }]
                        },
                        options: {
                             scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                        
                        
                    };
                    var forecast_chart2 = new Chart(ctx6, config);
                    $("#3").click(function() {
                        var data = forecast_chart2.config.data;
                        data.datasets[0].data = temp_dataset2;
                        

                        data.labels = labels;
                        forecast_chart2.update();
                    });
                    $("#4").click(function() {
                        var chart_labels2 = labels;
                        var temp_dataset2 = defaultData;
                        var rain_dataset2 = defaultData2;
                        var data = forecast_chart2.config.data;
                        data.datasets[0].data = rain_dataset2;
                       
                        data.labels = labels;
                        data.datasets.backgroundColor = 'red'
                        forecast_chart2.update();
                    });
                        console.log("working!!!!!!!!!!!!")
                        console.log(data)
                    },
                    error: function(error_data){
                        console.log("error")
                        console.log(error_data)
                    }
                })
            //function for chart run in success call
            function setChart(){


            }
            // Chart.js graph


            var ctx5 = document.getElementById("ChartView5").getContext('2d');

            var ctx6 = document.getElementById("ChartView6").getContext('2d');

            {% endblock %}
            </script>
<!--             <h2 class="text-center">{% blocktrans %}What is Pinax?{% endblocktrans %}</h2>
            
    </section>
    <section>
        <div class="container">
            <p class="lead text-center">
                {% blocktrans %}
                See <a href="http://pinaxproject.com/">pinaxproject.com</a>
                for more information.
                {% endblocktrans %}
            </p>
        </div>
    </section> -->
{% endblock %}
